header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.20;
    z-index: 1;
  }

  .card-text{
    text-align: left;
  }

  .overlay{
    background-color: rgba(#000, 0.4);
  }

  .card-img-overlay {
    background-color: rgba(#000, 0.4);
  }

  .scroll {
    position: relative;
    height: 200px;
    overflow: auto;
    }

    h5{
      text-align: center;
    }

    .overflow-auto {
      height: 1700px;
      width:auto;
    }

    /* doctor card */
.card-image{
   width: 300px;
  height: 470px;
  overflow-y: auto;
}

.card-image a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}



/* time slots */
.vertical-menu {
  width: 200px;
  height: 280px;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #dc3545;
  color: white;
}

/* take ptient information */

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}



    /* Footer */
    footer{
      background-color: #F7F5F6;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 4em;
      
    }

    .footer-col{
      padding-left: 5em;
    }

    .footer-text{
      color: #555555;
    }

    /* Chat */
    .chat-pos{
      padding: 2em;
    }
    .chat-btn{
      background-color: #292826;
      color: #fafafa;
      font-weight: bold;
      /* border-radius: 15%;
      width: auto;
      height: auto; */
    }
    .chat-icon{
      height: 25px;
      width: auto;
    }

    .chat-card {
      width: 300px;
      border: none;
      border-radius: 15px
  }

  .adiv {
    background: #F7F5F6;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    vertical-align: middle;
  }

  .chat {
    border: none;
    background: #292826;
    font-size: 10px;
    color: #fafafa;
    border-radius: 20px
}

  .chat-box{
    margin-bottom: 1em;
    height: 30px;
    width: 267px;
  }

  .chat-tf {
    background: #F7F5F6;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: auto;
    padding-top: 0.5em;
  }

  .chat-user-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.5em;
  }

    /* Reviews */
    .reviews-avatar{
      object-position: left;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .reviews-user-name{
      font-weight: bold;
    }

    .reviews-text{
      /* object-position: right; */
      text-align: left;
    }

    .reviews-overflow-auto {
      height: 100px;
      width:auto;
    }

    ul{
      margin-bottom: 8em;
    }

    .no-wrap {
      white-space: nowrap
  }

    .badge {
      font-size: 25px;
      font-weight: 200
  }
  
  .badge i {
      font-size: 20px;
      font-weight: 200
  }
  
  .about-rating {
      font-size: 15px;
      font-weight: 500;
      margin-top: 10px
  }
  
  .total-ratings {
      font-size: 12px
  }
  
  .bg-custom {
      background-color: #dc3545 !important
  }
  
  .progress {
      margin-top: 10px
  }

  
  /* Review Chat */

@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px
}

.show-btn{
  margin: 1em;
  text-align: center;
}


.rating-css div {
  color: #ffe400;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #838383;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}


