/* Chat */
.chat-pos{
    padding: 2em;
    margin-right: 5em;
  }
  .chat-btn{
    background-color: #292826;
    color: #fafafa;
    font-weight: bold;
    /* border-radius: 15%; */
    width: fit-content;
    height: fit-content;
  }
  .chat-icon{
    height: 30px;
    width: auto;
  }

  .chat-card {
    width: 300px;
    height: fit-content;
    border: none;
    border-radius: 15px;
}

.adiv {
  background: #F7F5F6;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  width: 300px;
  vertical-align: middle;
}

.chat {
  border: none;
  background: #292826;
  font-size: 10px;
  color: #fafafa;
  border-radius: 20px
}
.chat-overflow{
width: auto;
max-width: 400px;
}

.chat-box{
  margin-bottom: 1em;
  height: 30px;
  width: 150px;
}

.send-btn{
  font-size: 9pt;
  text-align: center;
  padding: none;
}
.chat-tf {
  background: #F7F5F6;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
  width: 300px;
  padding-top: 0.5em;
}

.chat-user-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.5em;
}